@import '_mixin';
@include mixin ();

.position {
    position: absolute;
    z-index: 4;
}

.toast {
    background-color: #000000d2;
}

.modal-content {
    background-color: #000000;

    .berserk {
        filter: invert(18%) sepia(90%) saturate(5603%) hue-rotate(356deg) brightness(98%) contrast(115%);
    }

    .berserk2 {
        filter: invert(100%);
    }
}

.img {
    height: 16rem;
}

.hover3 {
    transition: .3s;

    &:hover {
        transition: .3s;
        transform: scale(1.04);
    }
}

.hog {
    border-radius: 10px;
    box-shadow: 0 0 9px #000000;
}

#hog {
    text-shadow: 5px 5px 20px #000000;
}

.search-div {
    border: 1px solid #bd0d00;
    border-radius: 10px;
}

.search-div2 {
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.search {
    color: #bd0d00;
    transition: .4s;
    padding: 7px;
    background-color: transparent;
}

.search2 {
    color: #ffffff;
    transition: .4s;
    padding: 7px;
    background-color: transparent;
}

.search-input {
    outline: none;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #bd0d00;

    &::placeholder {
        color: #bd0d008e;
    }
}

.scroll {
    height: 40vh;
    overflow-y: auto;
}

.search-input2 {
    outline: none;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #ffffff;

    &::placeholder {
        color: #ffffff7e;
    }
}

.position-absolute {
    top: 50px;
}

.position-search {
    position: absolute;
    left: 60%;
}

.text {
    font-size: 10px;
}

@media only screen and (max-width:990px) {
    .position-absolute {
        top: 90px;
    }
}