@import '_mixin';
@include mixin ();

.position {
    position: absolute;
    z-index: 4;
}

.toast {
    background-color: #000000d2;
}

.modal-content {
    background-color: #000000;

    .berserk {
        filter: invert(18%) sepia(90%) saturate(5603%) hue-rotate(356deg) brightness(98%) contrast(115%);
    }

    .berserk2 {
        filter: invert(100%);
    }
}

.img {
    height: 16rem;
}

.hover3 {
    transition: .3s;

    &:hover {
        transition: .3s;
        transform: scale(1.04);
    }
}

.hog {
    border-radius: 10px;
    box-shadow: 0 0 9px #000000;
}

#hog {
    text-shadow: 5px 5px 20px #000000;
}