@font-face {
    font-family: LibreBaskerville;
    src: url('../fonts/LibreBaskerville-Bold.ttf');
}
@font-face {
    font-family: Zoheir;
    src: url('../fonts/BMitraBd.ttf');
}
body {
    font-family: LibreBaskerville;
}
.BMitraBd{
    font-family: Zoheir;
}
.LibreBaskerville{
    font-family: LibreBaskerville;
}

.modal-content {
    background-color: black;

    .close {
        border: none;
        background-color: rgb(0, 0, 0);
        transition: .2s;

        &:hover {
            transition: .2s;
            transform: scale(1.4) rotate(360deg);
        }

        .bi-x-lg {
            font-size: 20px;
            color: red;
        }
    }
}

.btn-modal {
    border: 1px solid #21a506;
    color: #21a506;
    background-color: black;
    border-radius: 6px;
    transition: .4s;
    padding: 5px;

    &:hover {
        transition: .4s;
        transform: scale(1.2);
        color: #000000;
        background-color: #21a506;
    }
}

.input {
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    transition: .2s;

    &:hover {
        transition: .2s;
        transform: scale(1.01);
    }
}

.wrong {
    border: 1px solid rgb(255, 0, 0);
}

.good {
    border: 1px solid rgb(0, 255, 0);
}

.vh {
    height: 90vh;
}

.brand {
    height: 3.2rem;
    filter: invert(100);
}

.list {
    border: none;
    background-color: #00000000;
    font-size: 25px;
    display: none;
    color: #ffffff;
}

.dropdown-item {
    cursor: pointer;
}

@media only screen and (max-width:990px) {
    .vh {
        height: 65vh;
    }

    .list {
        display: block;
    }
}

#arrow2 {
    display: none;
}

#moon {
    display: none;
}

#menu {
    display: none;
}

.bi-moon-stars,
.bi-sun {
    cursor: pointer;
}

.item {
    cursor: pointer;
    transition: .3s;

    &:hover {
        color: #ffffff;
        background-color: #818181;
        transition: .3s;
    }
}