.modal-content {
    background-color: black;

    .close {
        border: none;
        background-color: rgb(0, 0, 0);
        transition: .2s;

        &:hover {
            transition: .2s;
            transform: scale(1.8);
        }

        .bi-x-lg {
            font-size: 20px;
            color: red;
        }
    }
}

.btn-modal {
    border: 1px solid #21a506;
    color: #21a506;
    background-color: black;
    border-radius: 6px;
    transition: .4s;
    padding: 5px;

    &:hover {
        transition: .4s;
        transform: scale(1.2);
        color: #000000;
        background-color: #21a506;
    }
}

.email {
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    transition: .2s;

    &:hover {
        transition: .2s;
        transform: scale(1.01);
    }
}

.password {
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    transition: .2s;

    &:hover {
        transition: .2s;
        transform: scale(1.01);
    }
}

.wrong {
    border: 1px solid rgb(255, 0, 0);
}

.good {
    border: 1px solid rgb(0, 255, 0);
}